{
  "optional": [
    "es7.objectRestSpread",
    "es7.asyncFunctions",
    "runtime"
  ],
  "blacklist": [ 
    "es6.classes",
    "es6.forOf",
    "es6.blockScoping",
    "es6.arrowFunctions"
  ],
  "ignore": [
    "node_modules"
  ]
}