{
  "plugins": [
    ["transform-react-jsx"],
    ["transform-es2015-modules-commonjs"],
    ["transform-async-to-generator"],
    ["react-transform", {
      "transforms": [
        {
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }
      ]
    }]
  ]
}
